
#maincode
	.container-fluid.pt-3
		.row
			.col-md-3.col-lg-2
				.list-group.mb-4
					.list-group-item.list-group-item-action.active.bg-info.border-info Menu
					#main-container
			.col
		
	//- .row 
		.col
			#data-container
			#pagination-container.mt-4
		.col
			.preview
				.box
					button#download.button.is-primary(style="display:none") Download

