
#maincode
	.container-fluid.pt-3
		.row
			.col-md-3.col-lg-2
				.list-group.mb-4
					.list-group-item.list-group-item-action.active.bg-info.border-info Menu
					#main-container
			.col
				#view-container
				.row
					.col
						#pagination-container.mt-4
		